﻿# Ignorar archivos de compilación y dependencias
# Carpetas de compilación
**/[Bb]in/
**/[Oo]bj/
**/.vs/
**/.vscode/
Api.ClinicaMedica/bin/
Api.ClinicaMedica/obj/

# Ignorar archivos específicos dentro de Api.ClinicaMedica/obj/Debug/net8.0/
Api.ClinicaMedica/obj/Debug/net8.0/Api.ClinicaMedica.AssemblyInfo.cs
Api.ClinicaMedica/obj/Debug/net8.0/Api.ClinicaMedica.AssemblyInfoInputs.cache
Api.ClinicaMedica/obj/Debug/net8.0/Api.ClinicaMedica.GeneratedMSBuildEditorConfig.editorconfig
Api.ClinicaMedica/obj/Debug/net8.0/Api.ClinicaMedica.assets.cache
Api.ClinicaMedica/obj/Debug/net8.0/Api.ClinicaMedica.csproj.AssemblyReference.cache

# Ignorar configuraciones de usuario y archivos temporales
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorar archivos de depuración y paquetes
Debug/
Release/
*.pdb
*.log
*.cache
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props

# Ignorar paquetes de NuGet y configuraciones de build
packages/
project.lock.json
project.assets.json
project.nuget.cache

# Ignorar archivos generados por Rider/JetBrains
.idea/
*.iml

# Ignorar archivos de configuración local de Visual Studio Code
.vscode/

# Ignorar variables de entorno
.env
