################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api.ClinicaMedica/Api.ClinicaMedica.csproj

# Carpetas de compilación
bin/
obj/

# Configuración de usuario de Visual Studio
.vs/
*.user
*.suo
